asgiref
attrs
autobahn
Automat
cffi
channels
constantly
cryptography       
daphne
Django
django-cors-headers
djangorestframework
hyperlink
idna
incremental
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
service-identity
setuptools
sqlparse
Twisted
txaio
typing_extensions
tzdata
zope.interface